/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.loader-spinner {
    display: flex;
    position: fixed;
    text-align: center;
    padding-top: 15%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Aplicar la animación a elementos con la clase 'parpadeo' */
.parpadeo {
    animation: parpadeo 1s infinite;
}


.persona1 {
    /* background-image: url('img/nino1.png'); */
    background-size: 100%;
    top: 215pt;
    width: 177pt;
    height: 200pt;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    left: -200pt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes mover_persona_1 {
    from {
        left: -200pt;
    }

    to {
        left: 10%;
    }
}

.persona2 {
    /* background-image: url('img/adulto1.png'); */
    background-size: 100%;
    top: 215pt;
    width: 177pt;
    height: 200pt;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
    right: -200pt;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes mover_persona_2 {
    from {
        right: -200pt;
    }

    to {
        right: 10%;
    }
}

.dialogo1 {
    display: none;
    width: 200pt;
    height: 149pt;
    position: relative;
    top: -106pt;
    left: 93pt;
    background-image: url('img/nube.png');
    background-position: center;
    background-size: 106% 110%;
    background-repeat: no-repeat;
    padding: 20pt 20pt 40pt;
}

.dialogo2 {
    display: none;
    width: 200pt;
    height: 149pt;
    position: relative;
    top: -106pt;
    right: 119pt;
    background-image: url('img/nube2.png');
    background-position: center;
    background-size: 106% 110%;
    background-repeat: no-repeat;
    padding: 20pt 20pt 40pt;
}

#parrafo1,
#parrafo2 {
    font-size: 17pt;
    font-weight: bold;
}

.swal2-modal {
    /* top: 42% !important; */
    width: 40% !important
}

.centered-div {
    position: relative;
    left: 51% !important;
    top: -115% !important;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.custom-swal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swal-popup {
  width: 50%; /* Ajusta el ancho según tu necesidad */
}


#modalMultimediaTematica {
    overflow: hidden;
    height: 550px;
}


